#entr {
  width: 300px;
  margin: 0 auto;
  padding: 15px 20px 0 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #646366;
  margin-top: 1%;
}

#entr label {
  display: block;
  margin-bottom: 8px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#entr input {
  font-family: "Roboto", sans-serif;

  border-radius: 5px;
}

#entr input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 95%;
  height: 24px;
  margin-top: 5px;
  padding: 2px 5px;
  border: 1px solid #cccccc;
}

#sub_but {
  display: block;
  /*width: 200px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 6px 15px;
  color: #ffffff;
  background-color: #007241;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

#entr_but {
  display: inline-block;
  padding: 6px 15px;
  color: #ffffff;
  background-color: #007241;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

#entr a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 15px;
}

.pass_adm {
  color: red;
}